<div id="cart">
    &nbsp; <a href="~/Cart/Cart" class="cart-link">Your Cart</a>
    <div class="cl">&nbsp;</div>
    <span>Items: <strong>4</strong></span> <span>Cost: <strong>$250.99</strong></span>
</div>

