@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:justify;" class="article-title">Contact Us</h1>
<address style="text-align:justify; line-height:20px;">
    8 Nguyễn Văn Tráng<br />
    Quận 1, Tp. Hồ Chí Minh<br />
    <abbr title="Phone">Điện thoại:</abbr>
    090.1234.4567
</address>

<address style="text-align:justify; line-height:20px;">
    <strong>Hỗ trợ:</strong> <a href="mailto:hotro@example.com">Hotro@example.com</a><br />
    <strong>Quảng cáo:</strong> <a href="mailto:quangcao@example.com">Quangcao@example.com</a>
</address>
